.idea
biz-basic/biz-basic.iml
biz-basic-server/biz-basic-server.iml
biz-basic-web/biz-basic-web.iml
biz-module-manager/biz-module-manager.iml
biz-module-user/biz-module-user.iml
biz-web-demo/biz-web-demo.iml

biz-basic/target
biz-basic-server/target
biz-basic-web/target
biz-module-manager/target
biz-module-user/target
biz-web-demo/target

.gradle
build
biz-basic/build
biz-basic-server/build
biz-basic-web/build
biz-module-manager/build
biz-module-user/build
biz-web-demo/build