<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<import resource="classpath:spring-basic-import.xml" />
	<!-- 参数验证器  -->
	<bean id="validationPoolBean" class="com.company.seed.basic.web.common.validation.pool.ValidationPoolBean">
		<property name="maxIdle" value="10"/>
		<property name="maxTotal" value="50"/>
		<property name="usePool" value="false"/>
	</bean>
</beans>

